# Problemática


## Calcular a frequencia com os seguintes dados
- Os imóveis classificados com tipo 'Apartamento'
- Os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'
- Os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites
- Os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00

In [3]:
import pandas as pd

In [5]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

## Selecione somente os imóveis classificados com tipo 'Apartamento'

In [19]:
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

19532

## Os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'

In [23]:
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

2212

## Os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites

In [27]:
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

## Os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00

In [30]:
selecao = (dados['Quartos'] < 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

7964

In [32]:
print(n1)
print(n2)
print(n3)
print(n4)

19532
2212
8719
7964