In [24]:
%matplotlib inline
import pandas as pd

In [25]:
dados = pd.read_csv('dados/aluguel_amostra.csv', sep = ';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Recreio dos Bandeirantes,3,2,1,320,3200.0,1319.0,0.0,10.00,Apartamento
1,Apartamento,Maracanã,2,0,0,59,800.0,725.0,47.0,13.56,Apartamento
2,Apartamento,Leblon,3,2,1,147,7500.0,1000.0,381.0,51.02,Apartamento
3,Apartamento,São Conrado,3,3,3,270,14999.0,2800.0,1200.0,55.55,Apartamento
4,Apartamento,Tijuca,2,1,0,65,1200.0,640.0,97.0,18.46,Apartamento
5,Apartamento,Cachambi,2,1,1,75,1400.0,715.0,0.0,18.67,Apartamento
6,Apartamento,Glória,1,0,0,52,1700.0,560.0,0.0,32.69,Apartamento
7,Apartamento,Engenho Novo,2,1,0,70,1200.0,430.0,21.0,17.14,Apartamento
8,Apartamento,Maracanã,1,1,0,59,1500.0,410.0,0.0,25.42,Apartamento
9,Apartamento,Flamengo,3,0,0,100,2500.0,980.0,105.0,25.00,Apartamento

In [26]:
valor = dados['Valor m2']

In [27]:
Q1 = valor.quantile(.25)
Q1

21.25

In [28]:
Q3 = valor.quantile(.75)
Q3

42.31

In [29]:
IIQ = Q3 - Q1
IIQ

21.060000000000002

In [30]:
lim_inf = Q1 - 1.5 * IIQ
lim_inf

-10.340000000000003

In [31]:
lim_sup = Q3 + 1.5 * IIQ
lim_sup

73.9