In [25]:
import pandas as pd

# Criando a Series

In [26]:
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

# Criando Series com id

In [27]:
index = ['Linha ' + str(i) for i in range(5)]
s = pd.Series(data, index)
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

# Operações com a Series

In [28]:
s1 = s + 2
s1

Linha 0    3
Linha 1    4
Linha 2    5
Linha 3    6
Linha 4    7
dtype: int64

In [29]:
s2 = s + s1
s2

Linha 0     4
Linha 1     6
Linha 2     8
Linha 3    10
Linha 4    12
dtype: int64

# Criando DataFrames

In [30]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [31]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

# Colocando id e columns no DataFrame

In [32]:
index = ['Linha ' + str(i) for i in range(3)]
df1 = pd.DataFrame(data = data, index = index)
df1

         0  1  2
Linha 0  1  2  3
Linha 1  4  5  6
Linha 2  7  8  9

In [33]:
columns = ['Coluna ' + str(i) for i in range(3)]
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

# Operações com o DataFrame

In [34]:
df1[df1 > 0] = 'A'
df1

        Coluna 0 Coluna 1 Coluna 2
Linha 0        A        A        A
Linha 1        A        A        A
Linha 2        A        A        A

In [35]:
index = ['Linha ' + str(i) for i in range(3)]
df2 = pd.DataFrame(data = data, index = index)
columns = ['Coluna ' + str(i) for i in range(3)]
df2 = pd.DataFrame(data = data, index = index, columns = columns)
df2[df2 > 0] = 'B'
df2

        Coluna 0 Coluna 1 Coluna 2
Linha 0        B        B        B
Linha 1        B        B        B
Linha 2        B        B        B

In [36]:
df3 = pd.concat([df1, df2])
df3

        Coluna 0 Coluna 1 Coluna 2
Linha 0        A        A        A
Linha 1        A        A        A
Linha 2        A        A        A
Linha 0        B        B        B
Linha 1        B        B        B
Linha 2        B        B        B

In [37]:
df4 = pd.concat([df1, df2], axis = 1)
df4

        Coluna 0 Coluna 1 Coluna 2 Coluna 0 Coluna 1 Coluna 2
Linha 0        A        A        A        B        B        B
Linha 1        A        A        A        B        B        B
Linha 2        A        A        A        B        B        B

# Exercício DataFrame

In [40]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6